@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.2s ease;
    position: absolute;
    width: 100%;
}

.slide-enter-from {
    transform: translateX(-100vw);
}

.slide-leave-to {
    transform: translateX(100vw);
}