@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
  position: absolute;
  width: 100%;
}

.slide-enter-from {
  transform: translateX(-100vw);
}

.slide-leave-to {
  transform: translateX(100vw);
}

.tippy-box[data-theme~='primary'] {
  background-color: #15b7b9;
}

.tippy-box[data-theme~='primary'][data-placement^='top']
  > .tippy-arrow::before {
  border-top-color: #15b7b9;
}

.tippy-box[data-theme~='primary'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: #15b7b9;
}

.tippy-box[data-theme~='primary'][data-placement^='left']
  > .tippy-arrow::before {
  border-left-color: #15b7b9;
}

.tippy-box[data-theme~='primary'][data-placement^='right']
  > .tippy-arrow::before {
  border-right-color: #15b7b9;
}
